<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{% block body %}{% endblock %}
<script type="text/javascript" src="/javascripts/phaser/phaser.js"></script>
<script type="text/javascript" src="/javascripts/hexagon.js"></script>
<script type="text/javascript" src="/javascripts/game.js"></script>
</body>
</html>